body {
    font-family: 'Roboto', sans-serif;
    ;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    background-color: rgb(255, 195, 223);
    padding: 15px 100px;
}

.right-links,
.left-links {
    font-weight: 600;
    font-size: 18px;
}

.right-links {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    gap: 15px;
}